[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "course/trip-service-kata"]
	path = course/trip-service-kata
	url = https://github.com/sandromancuso/trip-service-kata
